    <div onclick="toggle('#code#')" class="model">
        #name#
        <div class="right">#code#</div>
    </div>
    <div id="#code#" class="snippets">
        <table>
            <thead>
                <tr>
                    <th class="description">Snippet</th>
                    <th class="shortcut">Shortcut</th>
                    <th class="filename">File Name</th>
                    <th class="param">rn</th>
                    <th class="param">RM</th>
                    <th class="param">rv</th>
                    <th class="param">cn</th>
                    <th class="param">CM</th>
                    <th class="param">cv</th>
                    <th class="param">cmd</th>
                    <th class="param">CMD</th>
                    <th class="param">ctx</th>
                </tr>
            </thead>
            <tbody>
#snippets#
            </tbody>
        </table>
    </div>
