                <tr>
                    <td class="left">#title#</td>
                    <td class="left">#shortcut#</td>
                    <td class="left">#fileName#</td>
                    <td>#rootName#</td>
                    <td>#rootModel#</td>
                    <td>#rootVariable#</td>
                    <td>#childName#</td>
                    <td>#childModel#</td>
                    <td>#childVariable#</td>
                    <td>#commandName#</td>
                    <td>#commandModel#</td>
                    <td>#dbContext#</td>
                </tr>
